*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #222;
    color: white;
    font-family:system-ui;
}
.crud{
    width: 80%;
    margin:auto
}
.head{
    text-align: center;
    text-transform: uppercase;
    margin: 10px 0;
}
input{
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    background-color: #111;
    color: white;
    margin: 4px 0;
    border-radius: 5px;
    padding: 4px;
}
input:focus{
      background-color: black;
}
.price input{
      width: 20%;
}
#total{
    background-color: rgb(96, 0, 0);
    padding: 5px;
    border-radius: 5px;
}
#total:before{
    content: 'total : ';
}
button{
    width: 100%;
    height: 30px;
    border: none;
    cursor: pointer;
    background-color:rgb(96, 0, 0);
    border-radius: 15px;
    color: white;
}
button:hover{
    background-color:rgb(76, 0, 0);
    transition: 0.5s;
    letter-spacing: 2px;
}
.btnSearch{
    display: flex;
    justify-content: space-between;
}
.btnSearch button {
    width: 45%;
}
table{
    width: 100%;
    text-align: center;
}
table th {
    text-transform: uppercase;
}
th,td{
    padding: 5px;
}
#clearAlldata{
    margin: 5px;
    padding: 4px;
}